
<body>

<sk-config
        styles='{"antd.css": "/node_modules/skinny-widgets/src/theme/antd/antd.min.css", "jquery-ui.css": "/node_modules/skinny-widgets/src/theme/jquery/jquery-ui.css", "theme.css": "/node_modules/skinny-widgets/src/theme/jquery/theme.css", "default.css": "/node_modules/skinny-widgets/src/theme/default/default.css"}'
        theme="myantd"
        base-path="./src"
        lang="ru"
        id="myConfig"
></sk-config>


<sk-button id="myButton" button-type="primary">
    <span slot="label">Button</span>
</sk-button>
<sk-select id="mySelect">
    <option value="default">default</option>
    <option value="myantd">myantd</option>
    <option value="myjquery">myjquery</option>
</sk-select>


<script type="module">
    import { SkConfig } from '/node_modules/skinny-widgets/src/sk-config.js';
    import { MySkButton } from './src/mysk-button.js';
    import { MySkSelect } from './src/mysk-select.js';

    customElements.define('sk-config', SkConfig);
    customElements.define('sk-button', MySkButton);
    customElements.define('sk-select', MySkSelect);

    mySelect.value = myConfig.getAttribute('theme');
    mySelect.addEventListener('change', (event) => {
        myConfig.setAttribute('theme', event.target.value);
    }, false);
</script>

</body>