<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<style>
    .ant-select {
        min-width: 16em;
    }
</style>
<div class="ant-select ant-select-enabled">
    <div class="ant-select-selection" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <div class="ant-select-selection__rendered">
            <div unselectable="on" class="ant-select-selection__placeholder" style="display: none; user-select: none;">--</div>
        </div>
        <span class="ant-select-arrow" unselectable="on" style="user-select: none;">
            <i aria-label="icon: down" class="anticon anticon-down ant-select-arrow-icon">
                <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path
                            d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                </svg>
            </i>
        </span>
    </div>
</div>
<div style="display: inline-block;">
    <div>
        <div class="ant-select-dropdown ant-select-dropdown--single ant-select-dropdown-placement-bottomLeft  ant-select-dropdown-hidden">
            <div style="overflow: auto; transform: translateZ(0px);">
                <ul role="listbox" class="ant-select-dropdown-menu  ant-select-dropdown-menu-root ant-select-dropdown-menu-vertical" tabindex="0">

                </ul>
            </div>
        </div>
    </div>
</div>