<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<button id="{{ id }}Button" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"><slot name="label"></slot><slot></slot></span></button>